*.o
Makefile
alsaconf/Makefile
alsaconf/alsaconf
alsaconf/po/Makefile
alsactl/.deps/
alsactl/Makefile
alsactl/init/Makefile
alsaloop/.deps/
alsaloop/Makefile
alsamixer/.deps/
alsamixer/Makefile
alsaucm/.deps/
alsaucm/Makefile
amidi/.deps/
amidi/Makefile
amixer/.deps/
amixer/Makefile
aplay/.deps/
aplay/Makefile
config.log
config.status
iecset/.deps/
iecset/Makefile
include/Makefile
include/aconfig.h
include/stamp-h1
m4/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
seq/Makefile
seq/aconnect/.deps/
seq/aconnect/Makefile
seq/aplaymidi/.deps/
seq/aplaymidi/Makefile
seq/aseqdump/.deps/
seq/aseqdump/Makefile
seq/aseqnet/.deps/
seq/aseqnet/Makefile
speaker-test/.deps/
speaker-test/Makefile
speaker-test/samples/Makefile
utils/Makefile
utils/alsa-utils.spec
version

